/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: 'Lato', sans-serif;
}
a {
    color: #b71a4c;
}
.front-indicator {
    width: 145px;
    margin: 5px 32px 15px 32px;
    background-color: #f6f6f6;
    color: #adadad;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
.wrapper {
    width: 100%;
    text-align: center;
}
.container {
    margin: 0 auto;
    width: auto;
    text-align: left;
}
.booking-details {
    float: left;
    text-align: left;
    margin-left: 35px;
    position: relative;
    height: 401px;
    font-size: 25px;
}
.booking-details {
    margin: 25px 0 20px 0;
    font-size: 27px;
}
.booking-details {
    margin: 5px 5px 0 0;
    font-size: 40px;
}
div.seatCharts-cell {
    color: #182C4E;
    height: 35px;
    width: 35px;
    line-height: 25px;

}
div.seatCharts-seat {
    color: #FFFFFF;
    cursor: pointer;
}
div.seatCharts-row {
    height: 45px;
}
div.seatCharts-seat.available {
    background-color: #B9DEA0;

}
div.seatCharts-seat.available.my_available {
    /* 	background: url(vip.png); */
    background-color: #3a78c3;
}
div.seatCharts-seat.focused {
    background-color: #76B474;
}
div.seatCharts-seat.selected {
    background-color: #E6CAC4;
}
div.seatCharts-seat.selected_child {
    background-color: #4de62d;
}
div.seatCharts-seat.unavailable {
    background-color: #472B34;
}
div.seatCharts-seat.unavailable.my_unavailable_child {
    background-color: #254722;
}
div.seatCharts-seat.unavailable.my_unavailable_reserved {
    background-color: #c31220;
}
div.seatCharts-container {
    border-right: 1px dotted #adadad;
    /*width: 100%;*/
    padding: 20px;
    float: left;
}
div.seatCharts-legend {
    padding-left: 0;
    /*position: absolute;*/
    bottom: 16px;
}
ul.seatCharts-legendList {
    padding-left: 0;
    font-size: 25px;
}

.li-item {
    width: 90%;
    font-size: 35px;
}
span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}
.checkout-button {
    display: block;
    margin: 20px auto;
    font-size: 35px;
    width: 40%;
    background-color: lime;
    border-radius: 8px;
}
#selected-seats {
    /*max-height: 90px;*/
    /*overflow-y: scroll;*/
    overflow-x: auto;
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 80%;
    margin: 15% auto auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media(min-width:1025px){
    .form {
        max-width: 40%;
        margin: 10% auto auto;
    }
    .form input {
        font-size: 20px;
    }
    .box-inner{
        height: 500px;
    }
    .booking-details-text {
        font-size: 1em;
    }
    .total-text {
        font-size: 1em;
    }
    .selected-seats-text {
        font-size: 1em;
    }
    .seatCharts-legendDescription {
        font-size: 1em;
    }
    .checkout-button {
        width: fit-content;
        margin: auto 10px;
    }
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 30px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 30px;
    -webkit-transition: all;
    transition: all;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box
{
    width:100%;
    height:100%;
    padding:1px 0;
    overflow:scroll;
    font-size:10px
}

.box-inner
{
    width: max-content;
    margin:10px 24px 0;
    padding-right:2px
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100px;
    height: 100px;
    background-color: #ccc;
}

.hidden {
    display: none;
}

.custom-modal
{
    /*width: 60%;*/
    font-size: 50px;
}