body {
    font-family: 'Lato', sans-serif;
}
a {
    color: #b71a4c;
}
.front-indicator {
    width: 145px;
    margin: 5px 32px 15px 32px;
    background-color: #f6f6f6;
    color: #adadad;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
.wrapper {
    width: 100%;
    text-align: center;
}
.container {
    margin: 0 auto;
    width: auto;
    text-align: left;
}
.booking-details {
    float: left;
    text-align: left;
    margin-left: 35px;
    position: relative;
    height: 401px;
}
.booking-details h2 {
    margin: 25px 0 20px 0;
    font-size: 27px;
}
.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 24px;
}
div.seatCharts-cell {
    color: #182C4E;
    height: 35px;
    width: 35px;
    line-height: 25px;

}
div.seatCharts-seat {
    color: #FFFFFF;
    cursor: pointer;
}
div.seatCharts-row {
    height: 45px;
}
div.seatCharts-seat.available {
    background-color: #B9DEA0;

}
div.seatCharts-seat.available.my_available {
    /* 	background: url(vip.png); */
    background-color: #3a78c3;
}
div.seatCharts-seat.focused {
    background-color: #76B474;
}
div.seatCharts-seat.selected {
    background-color: #E6CAC4;
}
div.seatCharts-seat.selected_child {
    background-color: #4de62d;
}
div.seatCharts-seat.unavailable {
    background-color: #472B34;
}
div.seatCharts-seat.unavailable.my_unavailable_child {
    background-color: #254722;
}
div.seatCharts-seat.unavailable.my_unavailable_reserved {
    background-color: #c31220;
}
div.seatCharts-container {
    border-right: 1px dotted #adadad;
    width: 100%;
    padding: 20px;
    float: left;
}
div.seatCharts-legend {
    padding-left: 0;
    /*position: absolute;*/
    bottom: 16px;
}
ul.seatCharts-legendList {
    padding-left: 0;
}
span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}
.checkout-button {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}
#selected-seats {
    /*max-height: 90px;*/
    /*overflow-y: scroll;*/
    overflow-x: auto;
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    top: 60px;
    background: #FFF;
}

#modal_trigger {
    margin: 40px auto;
    width: 200px;
    display: block;
    border: 1px solid #DDD;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    background: #F4F4F2;
}

.btn_red {
    background: #ED6347;
    color: #FFF;
}

.btn:hover {
    background: #E4E4E2;
}

.btn_red:hover {
    background: #C12B05;
}

a.btn {
    color: #666;
    text-align: center;
    text-decoration: none;
}

a.btn_red {
    color: #FFF;
}

.one_half {
    width: 50%;
    display: block;
    float: left;
}

.one_half.last {
    width: 45%;
    margin-left: 5%;
}
/* Popup Styles*/

.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}

.popupHeader {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
}

.popupBody {
    padding: 20px;
}

.centeredText {
    text-align: center;
    margin: 20px 0;
    clear: both;
    overflow: hidden;
    text-transform: uppercase;
}

.action_btns {
    clear: both;
    overflow: hidden;
}

.action_btns a {
    display: block;
}
/* User Login Form */

.user_login {
    display: none;
}

.user_login label {
    display: block;
    margin-bottom: 5px;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}

.user_login input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.user_login input[type="checkbox"]+label {
    float: left;
}

.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}